body {
  height: 100%;
  padding: 1px;
}
html {
  height: 100%;
}

#editor { 
  width: 100%;
  height: 55%
}

#buttonbar {
  margin: 0 0 10px 0;
  padding: 8px;

  border-top: 1px solid #ddd; 

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}

#output { 
  width: 100%;
  height: 40%;
}

/* #output .ace_scroller {
  background-color: #e4e8ee
} */

#output .ace_hidden-cursors .ace_cursor {
  opacity: 0;
}

#rightbar {
  float: right;
  margin-right: 2px;
}

#saved {
  margin-top: 5px; /* this is a hack to get vertical align, should be done better somehow */
  margin-left: 5px;
  margin-right: 5px;
}

.inserterHit {
  cursor: pointer;
}

.inserterHit:hover {
  text-decoration: underline;
}

#languagepicker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999999;
  display: none;
}

#languagepicker div {
  width: 350px;
  margin: 0 auto;
}

.pointer {
  cursor: pointer;
}

#schedule .icon-ok {
  margin-left: -18px;
}
#schedule a {
  padding: 3px 39px;
}


