body {
  height: 100%;
  width: 100%;
  padding: 0px;
  display: table;
}
html {
  height: 100%;
}

#editorPanel { 
  width: 100%;
  height: 60%;
  display: table-row;
}
#editor { 
  width: 100%;
  height: 100%;
}

#buttonbarPanel {
  width: 100%;
  z-index: 999;
  display: table-row;
}
#buttonbar {
  padding: 14px;
  margin: 0 0 10px 0;
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}

#outputPanel { 
  height: 40%;
  width: 100%;
  display: table-row;

}
#output { 
  width: 100%;
  height: 100%;
}

#output .ace_scroller {
  padding: 6px 0px 10px 10px;
} 

#output .ace_hidden-cursors .ace_cursor {
  opacity: 0;
}

#rightbar {
  float: right;
  margin-right: 2px;
}

#saved {
  margin-top: 5px; /* this is a hack to get vertical align, should be done better somehow */
  margin-left: 5px;
  margin-right: 5px;
}

.inserterHit {
  cursor: pointer;
}

.inserterHit:hover {
  text-decoration: underline;
}

#languagepicker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999999;
  display: none;
}

#languagepicker div {
  width: 350px;
  margin: 0 auto;
}

.pointer {
  cursor: pointer;
}

#schedule .icon-ok {
  margin-left: -18px;
}
#schedule a {
  padding: 3px 39px;
}


